<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="page/header :: copy(~{::title}, ~{}, ~{}, ~{})">
    <title>密码修改</title>
  </head>

  <body class="noteplus-layout">
    <div>
        <!-- loader Start -->
        <div th:insert="~{page/loading :: copy}"/>
        <div class="wrapper">
            <!-- 左侧个人信息 -->
            <div th:insert="~{page/sidebar-left :: copy}"/>

            <div class="content-page" id="pageContent">
                <section class="login-content">
                    <div class="container h-100">
                        <div class="row justify-content-center align-items-center height-self-center">
                            <div class="col-md-5 col-sm-12 col-12 align-self-center">
                                <div class="sign-user_card">
                                    <div class="logo-detail">
                                        <div class="d-flex align-items-center">
                                            <img src="../static/assets/images/logo.jpg" class="img-fluid rounded-normal light-logo logo" alt="logo">
                                        </div>
                                    </div>
                                    <h3 class="mb-2">修改密码</h3>
                                    <p>请牢记您的密码，勿泄漏给任何人</p>
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="floating-label form-group">
                                                    <input v-model="form.oldPassword" class="floating-input form-control" type="password" placeholder=" ">
                                                    <label>旧密码</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="floating-label form-group">
                                                    <input v-model="form.newPassword" class="floating-input form-control" type="password" placeholder=" ">
                                                    <label>新密码</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="floating-label form-group">
                                                    <input v-model="form.repassword" class="floating-input form-control" type="password" placeholder=" ">
                                                    <label>确认新密码</label>
                                                </div>
                                            </div>
                                        </div>
                                        <button @click="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- 底部栏 -->
        <div th:insert="~{page/footer :: copy}"/>

        <script>
            new Vue({
                el: '#pageContent',
                data: {
                    form: {

                    },
                },
                methods: {
                    submit(){
                        if(!this.form.oldPassword){
                            return Swal.fire({title: '提示', text: "请输入旧密码", icon: 'warning'})
                        }
                        if(!this.form.newPassword){
                            return Swal.fire({title: '提示', text: "请输入新密码", icon: 'warning'})
                        }
                        if(!this.form.repassword){
                            return Swal.fire({title: '提示', text: "请再次输入新密码", icon: 'warning'})
                        }
                        if(this.form.repassword !== this.form.newPassword){
                            return Swal.fire({title: '提示', text: "两次密码不一致", icon: 'warning'})
                        }
                        http.post(`/system/user/profile/updatePwd?oldPassword=${this.form.oldPassword}&newPassword=${this.form.newPassword}`, {
                        }, function (data) {
                            http.clearToken()
                            http.clearUser()
                            Swal.fire({title: '修改成功', icon: 'success', showConfirmButton: false})
                            setTimeout(() => {
                                http.go('login')
                            }, 800)
                        })
                    }
                }
            })
        </script>
    </div>
  </body>
</html>

