<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="copy">
        <footer class="iq-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="text-align: center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item"><a href="#">在线课程 © 2021 版权所有</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</html>
