<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="copy">
        <!-- Backend Bundle JavaScript -->
        <script th:src="@{../static/assets/js/vue.min.js}"></script>
        <script th:src="@{../static/assets/js/backend-bundle.min.js}"></script>

        <!-- Flextree Javascript-->
        <script th:src="@{../static/assets/js/flex-tree.min.js}"></script>
        <script th:src="@{../static/assets/js/tree.js}"></script>

        <!-- Table Treeview JavaScript -->
        <script th:src="@{../static/assets/js/table-treeview.js}"></script>

        <!-- Masonary Gallery Javascript -->
        <script th:src="@{../static/assets/js/masonry.pkgd.min.js}"></script>
        <script th:src="@{../static/assets/js/imagesloaded.pkgd.min.js}"></script>

        <!-- Mapbox Javascript -->
        <script th:src="@{../static/assets/js/mapbox-gl.js}"></script>
        <script th:src="@{../static/assets/js/mapbox.js}"></script>

        <!-- Fullcalender Javascript -->
        <script th:src='@{../static/assets/vendor/fullcalendar/core/main.js}'></script>
        <script th:src='@{../static/assets/vendor/fullcalendar/daygrid/main.js}'></script>
        <script th:src='@{../static/assets/vendor/fullcalendar/timegrid/main.js}'></script>
        <script th:src='@{../static/assets/vendor/fullcalendar/list/main.js}'></script>

        <!-- SweetAlert JavaScript -->
        <script th:src="@{../static/assets/js/sweetalert.js}"></script>

        <!-- Vectoe Map JavaScript -->
        <script th:src="@{../static/assets/js/vector-map-custom.js}"></script>

        <!-- Chart Custom JavaScript -->
        <script th:src="@{../static/assets/js/customizer.js}"></script>

        <!-- Chart Custom JavaScript -->
        <script th:src="@{../static/assets/js/chart-custom.js}"></script>

        <!-- slider JavaScript -->
        <script th:src="@{../static/assets/js/slider.js}"></script>
        <script th:src="@{../static/assets/js/pagination.js}"></script>

        <!-- app JavaScript -->
        <script th:src="@{../static/assets/js/app.js}"></script>
        <script th:src="@{../static/assets/js/common.js}"></script>

    </div>
</html>
